<!DOCTYPE html>
<html>

<head>
    <style>
        .pageTitleBox {
            font-size: xx-large;
        }
        .linkBoxContainer {
            display: flex;
        }
        .linkBox {
            padding: 20px;
            margin: 4px;
            background-color: brown;
        }
        .linkBox span {
            font-size: large;
            color: beige;
        }
    </style>
</head>

<body>
    <div class="pageTitleBox">
        <span>Landing Page</span>
    </div>
    <div class="linkBoxContainer">
        <div class="linkBox">
            <a href="login"><span>Login</span></a>
        </div>
        <div class="linkBox">
            <a href="register"><span>Register</span></a>
        </div>
    </div>
</body>

</html>