<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
</head>

<body>
    <div class="mainBox">
        <div class="head">
            <div class="ear earLeft">
                <div class="earInner earInnerLeft"></div>
            </div>
            <div class="ear earRight">
                <div class="earInner earInnerRight"></div>
            </div>
        </div>
        <div class="head headLayer">
            <div class="eye eyeLeft">
                <div class="eyeInner"></div>
            </div>
            <div class="eye eyeRight">
                <div class="eyeInner"></div>
            </div>
            <div class="nose"></div>
            <div class="mouth"></div>
        </div>
    </div>
</body>